<form class="form" method="post" action="/notes">
    <input name="name" placeholder="Заголовок" required>
    <textarea name="text" placeholder="Текст"></textarea>
    <input type="submit" value="Добавить новую">
</form>
